<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.calculatordemo.mapper.CalculatorMapper">
    <insert id="insertData" parameterType="com.example.calculatordemo.bean.Record">
        insert into record (formula, answer)
        values (#{formula}, #{answer})
    </insert>
    <select id="getData" resultType="com.example.calculatordemo.bean.Record">
        SELECT *
        from record r
        order by r.id desc limit 10
    </select>

</mapper>
